/*
Fonts used:

font-family: 'Poppins', sans-serif;
font-family: 'Press Start 2P', cursive;
*/



/* G e n e r a l */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("../img/wuv_bg1.2.png");
}

.interactable {
    transition: 0.6s ease;
    cursor: pointer;
}

.interactable:hover {
    filter: brightness(80%);
}

.blackBackground {
    background-color: black;
}

.white {
    color: white;
}

.invert {
    filter: invert(100%);
}



/* A n i m a t i o n s */

/* 1 */
@keyframes initialFade {
    from {filter: opacity(0);}
    to {filter: opacity(1);}
}

.initialFade {
    animation-name: initialFade;
    animation-duration: 4s;
}

/* 2 */
@-webkit-keyframes fade {
    from {filter: blur(0.5rem) grayscale(1);}

    to {filter: blur(0) grayscale(0);}
}

@keyframes fade {
    from {filter: blur(0.5rem) grayscale(1);}

    to {filter: blur(0) grayscale(0);}
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

/* 3 */
@keyframes slide {
    from {filter: opacity(0); height: 0;}
    to {filter: opacity(1); height: 14vh;}
}

.initialFade {
    animation-name: initialFade;
    animation-duration: 4s;
}



/* H e a d e r */

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: rgb(100,100,100);
    box-shadow: inset -0.5vw 0 rgb(50,50,50), inset 0 0.5vw rgb(155,155,155), inset 0 -0.5vw rgb(50,50,50), inset 0.5vw 0 rgb(155,155,155), 0 0.5vw rgb(0 0 0 / 25%);
    width: 100%;
    z-index: 2;
}

.headerBtn {
    margin: 2.25vh 0.5vw;
    height: 8vh;
    width: 20vw;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5vw;
    border: 0.7vh black solid;
    background: rgb(200,0,0);
    box-shadow: inset -0.5vw 0 rgb(120,0,0), inset 0 0.5vw rgb(255,0,0), inset 0 -0.5vw rgb(120,0,0), inset 0.5vw 0 rgb(255,0,0), 0.5vw 0.5vw rgb(0 0 0 / 25%);
    color: white;
    text-shadow: 0.25vw 0.25vw 0 rgb(0 0 0 / 25%);
}

.alternativeHeaderBtn {
    margin: 2.25vh 0.5vw;
    height: 8vh;
    width: 30vw;
    font-family: 'Press Start 2P', cursive;
    font-size: 6vw;
    border: 0.6vh black solid;
    background: rgb(200,0,0);
    box-shadow: inset -0.5vw 0 rgb(120,0,0), inset 0 0.5vw rgb(255,0,0), inset 0 -0.5vw rgb(120,0,0), inset 0.5vw 0 rgb(255,0,0), 0.5vw 0.5vw rgb(0 0 0 / 25%);
    color: white;
    text-shadow: 0.25vw 0.25vw 0 rgb(0 0 0 / 25%);
    display: none;
}

.headerBtn:hover {
    width: 25vw;
    border: 0.6vh white solid;
}

.headerImg {
    height: 10vh;
    margin: 1.25vh 2vw;
    filter: drop-shadow(0.5vw 0.5vw rgb(0 0 0 / 25%));
    cursor: pointer;
}

.headerImg:hover {
    filter: brightness(80%) drop-shadow(0.5vw 0.5vw rgb(0 0 0 / 25%));
}



/* H e a d e r   i n t e r a c t a b l e   j a v a s c r i p t */

/* Gets applied to the main header button to the right side when dropdown is shown*/
.mainHeaderBtn {
    filter: brightness(80%) drop-shadow(0.5vw 0.5vw rgb(0 0 0 / 25%));
}

/* Gets applied to the alternative header button in the middle att small screen size when dropdown is shown*/
.altHeaderBtn {
    filter: brightness(80%);
}

/* D r o p d o w n s */

/* The container <div> - needed to position the dropdown content */
.menuDropdown, .navDropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.menuContent, .navContent {
    width: 100%;
    height: 14vh;
    position: fixed;
    background-color: darkgray;
    z-index: 1;
    top: 12.5vh;
    display: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin: 2vh 0 0 0;
}

/* Links inside the dropdown */
.menuContent button {
    font-family: 'Press Start 2P', cursive;
    width: 30vw;
    height: 10vh;
    font-size: 2.5vw;
    border: 0.7vh black solid;
    color: white;
    background: rgb(200,200,200);
    box-shadow: inset -0.5vw 0 rgb(120,120,120), inset 0 0.5vw rgb(255,255,255), inset 0 -0.5vw rgb(120,120,120), inset 0.5vw 0 rgb(255,255,255), 0.5vw 0.5vw rgb(0 0 0 / 25%);
    text-shadow: 0.25vw 0.25vw 0 rgb(0 0 0 / 25%);
}

.navContent button {
    font-family: 'Press Start 2P', cursive;
    width: 30vw;
    height: 10vh;
    font-size: 2.5vw;
    border: 0.7vh black solid;
    color: white;
    background: rgb(200,0,0);
    box-shadow: inset -0.5vw 0 rgb(120,0,0), inset 0 0.5vw rgb(255,0,0), inset 0 -0.5vw rgb(120,0,0), inset 0.5vw 0 rgb(255,0,0), 0.5vw 0.5vw rgb(0 0 0 / 25%);
    text-shadow: 0.25em 0.25em 0 rgb(0 0 0 / 25%);
}

.navContent button:hover, .menuContent button:hover {
    border: 0.7vh white solid;
}

/* Lists inside the dropdown */
.menuContent li, .navContent li {
    list-style: none;
    display: inline;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
    animation-name: slide;
    animation-duration: 0.5s;
}



/* T i t l e */

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 7vw;
    text-align: center;
    text-shadow: 0.5vw 0.5vw 0 rgb(0 0 0 / 25%);
}

.subheading {
    text-align: center;
    font-size: 2vw;
    color: rgb(150,150,150);
}



/* S l i d e   s h o w */

.slideshow {
    width: 100%;
    height: 100%;
    filter: drop-shadow(1vw 1vw rgb(0 0 0 / 25%));
    background-color: black;
}

.slideImg {
    width: 100%;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 33%;
    padding: 0 2%;
    color: white;
    background: rgb(200,0,0);
    box-shadow: inset -0.5vw 0 rgb(120,0,0), inset 0 0.5vw rgb(255,0,0), inset 0 -0.5vw rgb(120,0,0), inset 0.5vw 0 rgb(255,0,0), 0.5vw 0.5vw rgb(0 0 0 / 25%);
    text-shadow: 0.25vw 0.25vw 0 rgb(0 0 0 / 25%);
    border: 1vh black solid;
    font-weight: bold;
    font-size: 7vw;
    text-decoration: none;
}

.prev:hover, .next:hover {
    border: 1vh white solid;
}

.next {
    right: 0;
}

.active, .dot:hover {
    background-color: red;
    color: inherit;
}

.slideText {
    font-size: 2vw;
    color: white;
    margin: 1vw 0;
    text-align: center;
}



/* S i t e   l i s t */

.siteList {
    display: flex;
    justify-content: center;
}

.siteButton {
    width: 20vw;
    font-size: 2vw;
    font-family: 'Press Start 2P', cursive;
    padding: 2vh 0;
    border: 0.75vh black solid;
    background: rgb(200,200,200);
    color: white;
    box-shadow: inset -0.5vw 0 rgb(120,120,120), inset 0 0.5vw rgb(255,255,255), inset 0 -0.5vw rgb(120,120,120), inset 0.5vw 0 rgb(255,255,255), 0.5vw 0.5vw rgb(0 0 0 / 25%);
    text-shadow: 0.25vw 0.25vw 0 rgb(0 0 0 / 25%);
    transition: none;
}

.siteButton:hover {
    border: 0.75vh white solid;
}

.thisSite {
    color: rgb(235,235,200);
}



/* M a i n   c o n t e n t */

h2 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.8vw;
    text-shadow: 0.5vw 0.5vw 0 rgb(0 0 0 / 25%);
}

h3 {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0.5vw 0.5vw 0 rgb(0 0 0 / 25%);
}

.contentText {
    line-height: 2em;
    font-size: 1.5vw;
    color: rgb(150,150,150);
}

.topText {
    text-align: center;
}

.topImage {
    width: 100%;
    margin: 0 0 1em 0;
}

.bottomImage {
    width: 100%;
    margin: 1em 0 0 0;
}

.leftText {
    text-align: left;
}

.rightImage {
    float: right;
    width: 50%;
    margin: 0 0 0 2em;
}



/* F o o t e r */

footer {
    width: 100%;
    height: 10%;
    z-index: 1;
    position: fixed;
    bottom: 0;
    display: flex;
}

.toTopButton {
    margin: auto;
    width: 30vw;
    height: 70%;
    font-size: 150%;
    font-family: 'Press Start 2P', cursive;
    border: 1vh black solid;
    background-color: white;
    box-shadow: 0.5vw 0.5vw rgb(0 0 0 / 25%);
}

.toTopButton:hover {
    height: 100%;
    filter: invert(100%);
}

.nonJavascriptBtn {
    font-size: 2vw;
    height: 3vw;
    color: lightskyblue;
    background-color: black;
    border: white 0.5vw solid;
    border-left-width: 0;
    padding: 0.5vw;
    position: absolute;
    bottom: 15%;
}



/* A s i d e */

aside {
    background: url("../img/wuv_block_2.png");
    filter: grayscale(100%);
}



/* M u s i c */

audio {
    background-color: rgb(241, 243, 244);
    border: 0.5vw black solid;
    width: 100%;
}

.musicText {
    margin: 0 0 1vh 0;
    font-size: 1.5vw;
    font-family: 'Press Start 2P', cursive;
    color: dimgray;
}

/* S i t e   l i s t   s i t e */

li a {
    font-size: 2vh;
    height: 3vh;
    color: lightskyblue;
    background-color: black;
    border: white 0.5vw solid;
    padding: 1vw 5vw 1vw 5vw;
}

li {
    list-style: none;
}

@media (max-width:540px) {
    .hiddenWhenSmall {
        display: none;
    }

    .shownWhenSmall {
        display: inline;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 5vw;
    }

    .contentText {
        font-size: 5vw;
    }

    .marginSide {
        margin: 0 1vw;
    }

    .slideshow {
        filter: drop-shadow(3vw 3vw rgb(0 0 0 / 25%));
    }

    .siteButton {
        width: 27vw;
        font-size: 4vw;
        box-shadow: inset -1.5vw 0 rgb(120,120,120), inset 0 1.5vw rgb(255,255,255), inset 0 -1.5vw rgb(120,120,120), inset 1.5vw 0 rgb(255,255,255), 1.5vw 1.5vw rgb(0 0 0 / 25%);
        text-shadow: 0.75vw 0.75vw 0 rgb(0 0 0 / 25%);
    }

    .prev, .next {
        border: 0.5vh black solid;
        font-size: 10vw;
        box-shadow: inset -1.5vw 0 rgb(120,0,0), inset 0 1.5vw rgb(255,0,0), inset 0 -1.5vw rgb(120,0,0), inset 1.5vw 0 rgb(255,0,0), 1.5vw 1.5vw rgb(0 0 0 / 25%);
        text-shadow: 0.75vw 0.75vw 0 rgb(0 0 0 / 25%);
    }

    .alternativeHeaderBtn {
        box-shadow: inset -1.5vw 0 rgb(120,0,0), inset 0 1.5vw rgb(255,0,0), inset 0 -1.5vw rgb(120,0,0), inset 1.5vw 0 rgb(255,0,0), 1.5vw 1.5vw rgb(0 0 0 / 25%);
        color: white;
        text-shadow: 0.75vw 0.75vw 0 rgb(0 0 0 / 25%);
    }

    .headerImg {
        filter: drop-shadow(1.5vw 1.5vw rgb(0 0 0 / 25%));
    }

    .menuContent button {
        box-shadow: inset -1.5vw 0 rgb(120,120,120), inset 0 1.5vw rgb(255,255,255), inset 0 -1.5vw rgb(120,120,120), inset 1.5vw 0 rgb(255,255,255), 1.5vw 1.5vw rgb(0 0 0 / 25%);
        text-shadow: 0.3vw 0.3vw 0 rgb(0 0 0 / 25%);
    }

    .navContent button {
        box-shadow: inset -1.5vw 0 rgb(120,0,0), inset 0 1.5vw rgb(255,0,0), inset 0 -1.5vw rgb(120,0,0), inset 1.5vw 0 rgb(255,0,0), 1.5vw 1.5vw rgb(0 0 0 / 25%);
        text-shadow: 0.3em 0.3em 0 rgb(0 0 0 / 25%);
    }

    .slideText {
        font-size: 3vw;
        margin: 1vw 0 3vw 0;
    }

    .nonJavascriptBtn {
        font-size: 2vh;
        height: 3vh;
        width: 100%;
        border-bottom-width: 0;
        bottom: 0;
        z-index: 1;
        text-align: center;
    }

    .toTopButton {
        margin: 0 auto 100% auto;
        border: 2vw black solid;
        width: 50vw;
    }

    .subheading {
        font-size: 4vw;
    }

    header {
        box-shadow: inset -1.5vw 0 rgb(50, 50, 50), inset 0 1.5vw rgb(155, 155, 155), inset 0 -1.5vw rgb(50, 50, 50), inset 1.5vw 0 rgb(155, 155, 155), 0 1.5vw rgb(0 0 0 / 25%);
    }


    /* A u d i o   s i t e */

    audio {
        border: 2vw black solid;
    }



    /* T i p s   s i t e */

    #tip1 {
        width: 100%;
        margin: 0 0 1em 0;
        float: none;
    }

    #tip3 {
        width: 100%;
        margin: 0 0 1em 0;
        float: none;
    }

    .musicText {
        font-size: 5vw;
        line-height: 3vh;
    }



    /* S i t e   l i s t   s i t e */

    li a {
        font-size: 5vw;
    }
}



@media (min-width:540px) {
    .hiddenWhenBig {
        display: none;
    }
}

