/*
Fonts used:

font-family: 'Poppins', sans-serif;
font-family: 'Press Start 2P', cursive;
*/



/* G e n e r a l*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.interactable {
    transition: 0.6s ease;
}

.interactable:hover {
    filter: invert(100%);
}

.blackBackground {
    background-color: black;
}

.white {
    color: white;
}

.invert {
    filter: invert(100%);
}



/* A n i m a t i o n s */

/* 1 */
@keyframes initialFade {
    from {filter: opacity(0);}
    to {filter: opacity(1);}
}

.initialFade {
    animation-name: initialFade;
    animation-duration: 4s;
}

/* 2 */
@-webkit-keyframes fade {
    from {filter: blur(0.5rem) grayscale(1);}

    to {filter: blur(0) grayscale(0);}
}

@keyframes fade {
    from {filter: blur(0.5rem) grayscale(1);}

    to {filter: blur(0) grayscale(0);}
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}



/* H e a d e r */

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.headerBtn {
    margin: 1.125vw 0.5vw 1.125vw 0.5vw;
    height: 4vw;
    width: 20vw;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5vw;
    border: 0.25vw black solid;
    background-color: white;
}

.headerBtn:hover {
    height: 5vw;
    width: 25vw;
    margin: 0.625vw 0.5vw 0.625vw 0.5vw;
}

.headerImg {
    height: 6vw;
    margin: 0.25vw 2vw 0.25vw 2vw;
}

.headerImg:hover {
    height: 6.5vw;
    margin: 0 1.75vw 0 1.75vw;
}



/* T i t l e*/

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 7vw;
    text-align: center;
}

.subheading {
    text-align: center;
    font-size: 2vw;
    color: gray;
}



/* S l i d e   s h o w */

.slideshow {
    width: 100%;
    filter: drop-shadow(-0.5vw 0.5vw 0.25vw rgba(0,0,0,0));
}

.slideImg {
    width: 100%;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 1vw;
    color: black;
    background-color: white;
    border: 0.5vw black solid;
    font-weight: bold;
    font-size: 7vw;
    text-decoration: none;
}

.prev:hover, .next:hover {
    font-size: 8vw;
}

.next {
    right: 0;
}

.active, .dot:hover {
    background-color: red;
    color: inherit;
}



/* S i t e   l i s t */

.siteList {
    display: flex;
    justify-content: center;
}

.siteButton {
    width: 20vw;
    font-size: 2vw;
    border: 0.25vw white solid;
}

.thisSite {
    background-color: lightgray;
    text-decoration: underline;
}

.siteButton:hover { /* turns black when hover because of invert value */
    background-color: white;
}

.siteButtonDark {
    width: 20vw;
    font-size: 2vw;
    border: 0.25vw white solid;
    background-color: black;
    color: white;
}

.thisSiteDark {
    background-color: black;
    text-decoration: underline;
}

.siteButtonDark:hover { /* turns black when hover because of invert value */
    background-color: black;
}



/* M a i n   c o n t e n t */

h2 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

h3 {
    font-family: 'Press Start 2P', cursive;
}

.contentText {
    line-height: 2em;
    font-size: 1.5vw;
    color: dimgray;
}

.topText {
    text-align: center;
}

.bottomImage {
    width: 100%;
    margin: 1em 0 0 0;
}

.leftText {
    text-align: left;
}

.rightImage {
    float: right;
    width: 50%;
    margin: 0 0 0 2em;
}



/* F o o t e r */

footer {
    width: 100%;
    height: 10%;
    z-index: 1;
    position: fixed;
    bottom: 0;
    display: flex;
}

.toTopButton {
    margin: auto;
    width: 30vw;
    height: 70%;
    font-size: 2vw;
    font-family: 'Press Start 2P', cursive;
    border: 0.5vw black solid;
    background-color: white;
}

.toTopButton:hover {
    height: 100%;
}

/* S i t e   s p e c i f i c   b a c k g r o u n d   i m a g e s */

.siteOneHeaderBackground {
    background: url("../img/no-cc-background6.gif") repeat;
}

.siteOneBackground {
    background: url("../img/no-cc-background7.gif") repeat;
    /*filter: opacity(50%);*/
}

.siteTwoHeaderBackground {
    background: url("../img/wuv_block_9.png") repeat;
}

.siteTwoBackground {
    background: url("../img/wuv_block_9.png") repeat;
    filter: brightness(103%);
}

/* M u s i c */

audio {
    background-color: rgb(241, 243, 244);
    border: 0.25vw black solid;
    width: 100%;
}

.musicText {
    margin: 0 0 1vw 0;
    font-family: 'Press Start 2P', cursive;
    color: dimgray;
}